{% extends '_layout-main' %}
{% block main %}
  <div class="mb-3">
    <h1 class="h4">Dashboard</h1>
    <p class="text-muted">Resumo dos seus desafios e progresso.</p>
  </div>
  {% include '_react-host' %}
{% endblock %}