{% extends '_layout-main' %}
{% block main %}
  <h1 class="h4 mb-3">Desafios</h1>
  <div class="alert alert-info">Adicione uma <strong>List</strong> da view de <code>po_desafio</code> e navegação para <strong>Form</strong>.</div>
{% endblock %}